section(id="stopka" class="footerSection")
    div(id="footer" class="footerTag")
        p(class="footerAuthor") Autorzy projektu
        p(class="author")
            a(href="http://github.com/Damian352" class="linkGithub" target="_blank") Kulesza Damian
        p(class="author")
            a(href="https://github.com/LisKrystian" class="linkGithub" target="_blank") Krystian Lisowski
        p(class="author")
            a(href="https://github.com/jakur0" class="linkGithub" target="_blank") Mikłosz Jakub
        p(class="author")
            a(href="https://github.com/lukitom" class="linkGithub" target="_blank") Tomaszek Łukasz