doctype html
html(lang="pl")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="description" content="")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" type="text/css" href="css/main.css")
        link(rel="stylesheet" type="text/css" href="css/css-error.css")
        link(rel="icon" type="image/ico" href="FavBroCenter.ico")
        title Strona główna Broadcasting Center
    body
        h1 500 Coś poszło nie tak
        a(class="link" href="/") Strona główna