doctype html
html(lang="pl")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="description" content="")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" type="text/css" href="css/main.css")
        link(rel="stylesheet" type="text/css" href="css/css-index.css")
        link(rel="stylesheet" type="text/css" href="css/css-admin.css")
        script(src="/js/jquery.js")
        script(src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js")
        script(src="/js/adminPanel.js")
        title Strona główna Broadcasting Center
    body
        section(id="naglowek" class="headerSection")
            header(id="header" class="headerTag") Blah Blah
        include ./partials/navBar
        section(id="main" class="container")
            div(id="lewy" class="panelLewy")
                a(class="link"  href="/spotify/playlist/37i9dQZEVXbMDoHDwVN2tF") Top 50 świat
                br
                a(class="link"  href="/spotify/playlist/37i9dQZEVXbN6itCcaL3Tt") Top 50 Polska
                br
                //- dwa niżej nie działają (Just hits oraz Chill Hits)
                a(class="link"  href="/spotify/playlist/37i9dQZF1DXcRXFNfZr7Tp") Just hits
                br
                a(class="link"  href="/spotify/playlist/37i9dQZF1DX4WYpdgoIcn6") Chill Hits
                br
                a(class="link"  href="/spotify/playlist/37i9dQZF1DXcBWIGoYBM5M") Today's Top Hits
            div(id="poczekalnia" class="panelPrawy")
                p ( ͡° ͜ʖ ͡°)( ͡° ͜ʖ ͡°)( ͡° ͜ʖ ͡°)( ͡° ͜ʖ ͡°)( ͡° ͜ʖ ͡°)
                    button(class="przycisk" id="akceptuj" type="submit" name="akceptuj") Usuń
                p ( ͡° ͜ʖ ͡°)( ͡° ͜ʖ ͡°)( ͡° ͜ʖ ͡°)( ͡° ͜ʖ ͡°)( ͡° ͜ʖ ͡°)
                    button(class="przycisk" id="akceptuj" type="submit" name="akceptuj") Usuń
                p ( ͡° ͜ʖ ͡°)( ͡° ͜ʖ ͡°)( ͡° ͜ʖ ͡°)( ͡° ͜ʖ ͡°)( ͡° ͜ʖ ͡°)
                    button(class="przycisk" id="akceptuj" type="submit" name="akceptuj") Usuń
                p ( ͡° ͜ʖ ͡°)( ͡° ͜ʖ ͡°)( ͡° ͜ʖ ͡°)( ͡° ͜ʖ ͡°)( ͡° ͜ʖ ͡°)
                    button(class="przycisk" id="akceptuj" type="submit" name="akceptuj") Usuń
                button(class="przycisk" id="akceptuj" type="submit" name="akceptuj") Zaakceptuj

            div(class="searching" id="searchPlaylist")
                div(class="containerMid")
                    input(class="textForm" id="textForm" name="wyszukaj" type="text")
                    br
                    button(class="przycisk" id="search") Wyszukaj
            div(class="containerMid" id="containerM")
        section(id="stopka" class="footerSection")
            footer(id="footer" class="footerTag")
                p ( ͡° ͜ʖ ͡°)( ͡° ͜ʖ ͡°)( ͡° ͜ʖ ͡°)( ͡° ͜ʖ ͡°)( ͡° ͜ʖ ͡°)