<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" type="text/css" href="css/css-index.css">
    <title>Strona główna Broadcasting Center</title>
</head>
<body>
    <header id="naglowek" class="header-section">
        <!-- miejsce na nagłówek-->
        Blah Blah
    </header>
    <section id="menu-section" class="nav-section">
        <nav class="nav-subpage" id="menu">
            <!-- miejsce na menu-->
            <a href="index" class="active">Strona Główna</a>
            <a href="suggestion-song" class="link-subpage">Sugerowane utwory</a>
            <a href="vote-song" class="link-subpage">Zagłosuj na piosenkę</a>
        </nav>
        <nav class="nav-login" id="menu-2">
            <a href="login" id="link-login" class="link-login">Zaloguj się</a>
            <a href="register-form" id="link-register" class="link-login">Zarejestruj się</a>
        </nav>
    </section>
    <section id="main" class="container">
        <div id="playlista" class="panel-lewy">
            <!-- lista piosenek do odtworzenia-->
            <p>- Muzyka -</p>
            <p>- Muzyka -</p>
            <p>- Muzyka -</p>
            <p>- Muzyka -</p>
        </div>
        <div id="odsluchane" class="panel-prawy">
            <!-- miejsce na liste odtwarzonych piosenek-->
            <p>- Odsłuchane -</p>
            <p>- Odsłuchane -</p>
            <p>- Odsłuchane -</p>
            <p>- Odsłuchane -</p>
        </div>
    </section>
    <section id="stopka" class="footer-section">
        <footer id="footer" class="footer-tag">
            <!-- stopka-->
            <p>( ͡° ͜ʖ ͡°)( ͡° ͜ʖ ͡°)( ͡° ͜ʖ ͡°)( ͡° ͜ʖ ͡°)( ͡° ͜ʖ ͡°)</p>
        </footer>
    </section>
</body>
</html>