doctype html
html(lang="pl")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="description" content="")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" type="text/css" href="css/main.css")
        link(rel="stylesheet" type="text/css" href="css/css-index.css")
        title Strona główna Broadcasting Center
    body
        section(id="naglowek" class="headerSection")
            header(id="header" class="headerTag") Blah Blah
        include ./partials/navBar
        section(id="main" class="container")
            div(id="playlista" class="panelLewy")
                each n, i in playlista
                    p= "title: " + n.title + ", autor: "+ n.artist + ", url: " + n.uri
            div(id="odsluchane" class="panelPrawy")
                each n, i in odsluchane
                    p= "title: " + n.title + ", autor: "+ n.artist + ", url: " + n.uri
        section(id="stopka" class="footerSection")
            footer(id="footer" class="footerTag")
                p ( ͡° ͜ʖ ͡°)( ͡° ͜ʖ ͡°)( ͡° ͜ʖ ͡°)( ͡° ͜ʖ ͡°)( ͡° ͜ʖ ͡°)