doctype html
html(lang="pl")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="description" content="Strona logowania do Broadcasting Center - strony do automatycznego odtwarzania playslist tworzonych przez uczniów  w radiowęźle szkolnym")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" type="text/css" href="css/main.css")
        link(rel="stylesheet" type="text/css" href="css/css-login.css")
        title Zaloguj się do Broadcasting Center
    body
        section(id="naglowek" class="headerSection")
            header(id="header" class="headerTag") Blah Blah
        include ./partials/navBar
        section(id="main" class="container")
            div(id="logowanie" class="formDiv")
                form(id="login" class="formularz" action="/login" method="POST")
                    include ./partials/messages
                    label(for="loginLogIn") Login: 
                    input(class="textForm" id="loginLogIn" type="text" name="login" placeholder="Podaj swój login" required)
                    br
                    label(for="password") Hasło: 
                    input(class="passwordForm" id="password" type="password" name="password" placeholder="Podaj hasło" required)
                    br
                    button(class="przycisk" id="zaloguj" type="submit" name="zaloguj") Zaloguj
            div(id="rejestracja" class="linkDiv")
                a(class="link" id="linkRegister" href="/register") Zarejestruj się
        section(id="stopka" class="footerSection")
            footer(id="footer" class="footerTag")
                p ( ͡° ͜ʖ ͡°)( ͡° ͜ʖ ͡°)( ͡° ͜ʖ ͡°)( ͡° ͜ʖ ͡°)( ͡° ͜ʖ ͡°)