doctype html
html(lang="pl")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="description" content="")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" type="text/css" href="css/main.css")
        link(rel="stylesheet" type="text/css" href="css/css-register-form.css")
        title Rejestracja w Broadcasting Center
    body
        section(id="naglowek" class="headerSection")
            header(id="header" class="headerTag") Blah Blah
        section(id="menuSection" class="navSection")
            nav(id="menu" class="navSubpage")
                a(class="linkSubpage" href="/index") Strona główna
                a(class="linkSubpage" href="/suggestionSong") Sugerowane utwory
                a(class="linkSubpage" href="/voteSong") Zagłosuj na piosenkę
            nav(class="navLogin" id="menu2")
                a(class="linkLogin" id="linkLogin" href="/login") Zaloguj się
                a(class="active" id="linkRegister" href="/register") Zarejestruj się
        section(id="main" class="container")
            div(id="formRegisterDiv" class="formDiv")
                form(id="registerForm" class="formularz" action="/register" method="POST")
                    if typeof errors != 'undefined'
                        p(class="errorRegister" id="errorRegister")=errors[0].msg
                    label(for="loginRegisterId") Login: 
                    input(class="textForm" id="loginRegisterId" type="text" name="login" placeholder="Podaj login" required)
                    br
                    label(for="emailRegister") E-mail: 
                    input(class="textForm" id="emailRegister" type="text" name="email" placeholder="Podaj swój e-amil" required)
                    br
                    label(for="password") Hasło: 
                    input(class="passwordForm" id="password" type="password" name="password" placeholder="Podaj swoje hasło" required)
                    br
                    button(class="przycisk" id="zarejestruj" type="submit" name="zarejestruj") Zarejestruj
            div(class="linkDiv" id="loginLink")
                a(id="linkLogin" class="link" href="/login") Zaloguj się
        section(id="stopka" class="footerSection")
            footer(id="footer" class="footerTag")
                p ( ͡° ͜ʖ ͡°)( ͡° ͜ʖ ͡°)( ͡° ͜ʖ ͡°)( ͡° ͜ʖ ͡°)( ͡° ͜ʖ ͡°)