doctype html
html(lang="pl")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="description" content="")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" type="text/css" href="css/main.css")
        link(rel="stylesheet" type="text/css" href="css/css-register-form.css")
        link(rel="icon" type="image/ico" href="FavBroCenter.ico")
        title Rejestracja w Broadcasting Center
    body
        section(id="naglowek" class="headerSection")
            header(id="header" class="headerTag") Blah Blah
        include ./partials/navBar
        section(id="main" class="container")
            div(id="formRegisterDiv" class="formDiv")
                form(id="registerForm" class="formularz" action="/register" method="POST")
                    if typeof errors != 'undefined'
                        p(class="errorRegister" id="errorRegister")=errors[0].msg
                    label(for="loginRegisterId") Login
                    br
                    input(class="textForm" id="loginRegisterId" type="text" name="login" required)
                    br
                    label(for="emailRegister") E-mail
                    br
                    input(class="textForm" id="emailRegister" type="text" name="email" required)
                    br
                    label(for="password") Hasło
                    br
                    input(class="passwordForm" id="password" type="password" name="password" required)
                    br
                    button(class="przycisk" id="zarejestruj" type="submit" name="zarejestruj") Utwórz konto
            //- div(class="linkDiv" id="loginLink")
            //-     a(id="linkLogin" class="link" href="/login") Zaloguj się
        section(id="stopka" class="footerSection")
            footer(id="footer" class="footerTag")
                p ( ͡° ͜ʖ ͡°)( ͡° ͜ʖ ͡°)( ͡° ͜ʖ ͡°)( ͡° ͜ʖ ͡°)( ͡° ͜ʖ ͡°)