<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" type="text/css" href="css/css-suggestion-song.css">
    <title>Zaproponuj piosenkę</title>
</head>
<body>
    <header id="naglowek" class="header-section">
        <div id="header" class="header-tag">
            <!-- miejsce na nagłówek-->
            Blah Blah
        </div>
        <div id="user-info" class="user-panel">
            <!-- miejsce na przycisk do wylogowywania i informacje o użytkowniku-->
        </div>
    </header>
    <section id="menu-section" class="nav-section">
        <nav class="nav-subpage" id="menu">
            <!-- miejsce na menu-->
            <a href="/index" class="link-subpage">Strona Główna</a>
            <a href="/suggestion-song" class="active">Sugerowane utwory</a>
            <a href="/vote-song" class="link-subpage">Zagłosuj na piosenkę</a>
        </nav>
    </section>
    <section id="main" class="container">
        <div class="container-mid" id="">
            <!-- miejsce na panel do proponowania piosenek-->
            <p>- Proponowane -</p>
            <p>- Proponowane -</p>
            <p>- Proponowane -</p>
            <p>- Proponowane -</p>
            <p>- Proponowane -</p>
        </div>
    </section>
    
    <section id="stopka" class="footer-section">
        <footer id="footer" class="footer-tag">
            <!-- stopka-->
            <p>( ͡° ͜ʖ ͡°)( ͡° ͜ʖ ͡°)( ͡° ͜ʖ ͡°)( ͡° ͜ʖ ͡°)( ͡° ͜ʖ ͡°)</p>
        </footer>
    </section>
</body>
</html>