doctype html
html(lang="pl")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="description" content="")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" type="text/css" href="css/main.css")
        link(rel="stylesheet" type="text/css" href="css/css-suggestion-song.css")
        script(src="/js/jquery.js")
        script(src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js")
        script(src="/js/suggestion.js")
        link(rel="icon" type="image/ico" href="FavBroCenter.ico")
        title Zaproponuj piosenkę
    body
        section(class="pageView")
            section(id="naglowek" class="headerSection")
                a(href="/index")
                    //- img(class="logotyp1" src="logo2.png" alt="logo")
                    img(class="logotyp2" src="logo1.png" alt="logo")
                header(id="header" class="headerTag") Broadcasting Center
            include ./partials/navBar
            section(id="main" class="container")
                div(class="containerMid")
                    label(for="search") Szukaj Swoich Ulubionych Utworów
                    br
                    br
                    input(class="textForm" id="textForm" name="wyszukaj" type="text")
                    button(class="przycisk" id="search") Wyszukaj
                div(class="searchResult" id="containerM")
        include ./partials/footer.pug