doctype html
html(lang="pl")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="description" content="")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" type="text/css" href="css/main.css")
        link(rel="stylesheet" type="text/css" href="css/css-suggestion-song.css")
        title Zaproponuj piosenkę
    body
        header(id="naglowek" class="headerSection")
            div(id="header" class="headerTag") Blah Blah
        section(id="menuSection" class="navSection")
            nav(id="menu" class="navSubpage")
                a(class="linkSubpage" href="/index") Strona główna
                a(class="active" href="/suggestionSong") Sugerowane utwory
                a(class="linkSubpage" href="/voteSong") Zagłosuj na piosenkę
            nav(class="navLogin" id="menu2")
                a(class="linkLogin" id="linkLogin" href="/login") Zaloguj się
                a(class="linkLogin" id="linkRegister" href="/registerForm") Zarejestruj się
        section(id="main" class="container")
            div(class="containerMid" id="")
                p - Proponowane -
                p - Proponowane -
                p - Proponowane -
                p - Proponowane -
                p - Proponowane -
        section(id="stopka" class="footerSection")
            footer(id="footer" class="footerTag")
                p ( ͡° ͜ʖ ͡°)( ͡° ͜ʖ ͡°)( ͡° ͜ʖ ͡°)( ͡° ͜ʖ ͡°)( ͡° ͜ʖ ͡°)