doctype html
html(lang="pl")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="description" content="")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" type="text/css" href="css/main.css")
        link(rel="stylesheet" type="text/css" href="css/css-vote-song.css")
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
        script(src="js/vote.js")
        title Strona główna Broadcasting Center
    body
        section(id="naglowek" class="headerSection")
            header(id="header" class="headerTag") Blah Blah
        include ./partials/navBar
        section(id="main" class="container")
            div(id="playlista" class="panelLewy")
                - let value = 1;
                each n, i in playlista
                    p= "title: " + n.title + ", autor: "+ n.artist + ", url: " + n.uri
                        button(class="przycisk" value=value) Głosuj
                    - value++;
                
            div(id="odsluchane" class="panelPrawy")
                p - Wynik Głosowania -
                p - Wynik Głosowania -
                p - Wynik Głosowania -
                p - Wynik Głosowania -
                p - Wynik Głosowania -
        section(id="stopka" class="footerSection")
            footer(id="footer" class="footerTag")
                p ( ͡° ͜ʖ ͡°)( ͡° ͜ʖ ͡°)( ͡° ͜ʖ ͡°)( ͡° ͜ʖ ͡°)( ͡° ͜ʖ ͡°)