header{
    background-color: #999;
    float: left;
    width: 100%;
    font-size: 2.5rem;
    text-transform: uppercase;
}
a{
    text-decoration: none;
}
.container{
    background-color: #faf;
    width: 100%;
    float: left;
}
.formDiv{
    background-color: #ffa;
    width: 70%;
    float: left;
    margin-left: 15%;
    margin-right: 15%;
    text-align: center;
}
.linkDiv{
    background-color: #8f8;
    width: 70%;
    float: left;
    margin-left: 15%;
    margin-right: 15%;
    text-align: center;
}
.navSection{
    width: 100%;
    background-color: #aff;
    float: left;
}
.navSubpage{
    text-align: left;
    float: left;
}
.navLogin{
    text-align: right;
    float: right;
}
.linkSubpage {
    margin-left: 1rem;
}
.active{
    margin-right: 1rem;
}
.linkLogin{
    margin-right: 1rem;
}
.footerSection{
    background-color: #88F;
    text-align: center;
    width: 100%;
    float: left;
}
.footerTag{
    text-align: right;
}