
.container{
    background-color: #fff;
    width: 100%;
    display: inline-block;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;
}
.containerMid{
    background-color: #12a8e3;
    width: 750px;
    color: #fff;
    border-radius: 1rem;
    text-align: center;
    display: inline-block;
}