.container{
    background-color: #fff;
    border: .25rem solid #208cc7;
    width: 300px;
    display: inline-block;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    border-radius: 1rem;
    padding-top: 2rem;
}
.formDiv{
    width: 225px;
    color: #208cc7;
    display: inline-block;
    text-align: left;
}
.formDiv input{
    width: 221px;
    margin-bottom: 1.5rem;
}
.textForm, .passwordForm{
    border: none;
    background-color: transparent;
    border-bottom: 2px solid #208cc7;
    margin-bottom: 1rem;
}
/* .linkDiv{
    background-color: #20E395;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    margin-bottom: 1rem;
    color: #fff;
    border-radius: 1rem;
    display: inline-block;
} */