@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

:root{
    font-size: 16px;
    font-family: 'Comfortaa', cursive;
    font-weight: 700;
}
body{
    margin: 0;
    padding: 0;
    text-align: center;
}
body::-webkit-scrollbar{
    width: .375rem;    
}
body::-webkit-scrollbar-track{
    background: #ddd;
}
body::-webkit-scrollbar-thumb{
    background: linear-gradient(#10B6D1 0%, #0074B1);
    border-radius: 3px;
}